.btnLink {
  position: absolute;
  left: 50px;
  top: 30px;
  cursor: pointer;
  min-width: 100px;
  padding: 8px 15px;
  text-transform: uppercase;
  vertical-align: middle;
  background: #87CEEB;
  border: none;
  border-radius: 3px;
  color: #ffffff;
  font-weight: 600;
  -webkit-box-shadow: 10px 7px 9px -5px rgba(0,0,0,0.7);
  -moz-box-shadow: 10px 7px 9px -5px rgba(0,0,0,0.7);
  box-shadow: 10px 7px 9px -5px rgba(0,0,0,0.7);
}
.btnLink:hover {
  color: #ffffff;
  box-shadow: 10px 10px 25px rgba(0,0,0,0.7);
}
.addBtn {
  cursor: pointer;
  min-width: 100px;
  padding: 8px 15px;
  text-transform: uppercase;
  vertical-align: middle;
  background: #87CEEB;
  border: none;
  border-radius: 3px;
  color: #ffffff;
  font-weight: 600;
  -webkit-box-shadow: 10px 7px 9px -5px rgba(0,0,0,0.7);
  -moz-box-shadow: 10px 7px 9px -5px rgba(0,0,0,0.7);
  box-shadow: 10px 7px 9px -5px rgba(0,0,0,0.7);
}
.addBtn:hover {
  box-shadow: 10px 10px 25px rgba(0,0,0,0.7);
}
.enterInp {
  -webkit-box-shadow: inset 10px 7px 9px 5px rgba(0,0,0,0.36);
  -moz-box-shadow: inset 10px 7px 9px 5px rgba(0,0,0,0.36);
  box-shadow: inset 10px 7px 9px 5px rgba(0,0,0,0.36);
  outline:none;
  border-radius: 5px;
  text-align: center;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.main-h1 {
  margin: 1em 0 0.5em 0;
  color: #343434;
  font-weight: normal;
  font-family: 'Ultra', sans-serif;
  font-size: 36px;
  line-height: 42px;
  text-transform: uppercase;
  text-shadow: 0 2px white, 0 3px #777;
}

.main-h2 {
  margin: 1em 0 0.5em 0;
  color: #343434;
  font-weight: normal;
  font-size: 30px;
  line-height: 40px;
  font-family: 'Orienta', sans-serif;
}
